In [2]:
"""
Pandas
    -Numpy 기반으로 개발되어 고성능 데이터 분석 가능
    -R언어에서 제공하는 DataFrame 자료형 제공
    -명시적으로 축의 이름에 따라 데이터 정렬 가능한 자료구조
    -통합된 Time Series 분석 기능
    -누락된 데이터를 유연하게 처리할 수 있는 기능
"""

import numpy as np
import pandas as pd #Pandas 라이브러리 선언

logx = np.logspace(0,1,100)
linx = np.linspace(0,10,100)

df = pd.DataFrame() #Pandas 의 DataFrame 생성
df['logspace'] = logx
df['linspace'] = linx

df.head() #DataFrame 상위 5개 보기
df.plot() #그래프로 출력

In [4]:
"""
Series 와 DataFrame
    Series : 인덱스 라벨이 붙은 1차원 리스트 데이터 구조
    DataFrame : Series가 모인 2차원 테이블 데이터 구조 (인덱스와 컬럼 라벨이 붙음)
    DataFrame이 핵심이고 Series 는 개념으로 알아 두자
"""

pd.Series([1,2,3,4],index=['one','two','three','four'])

one      1
two      2
three    3
four     4
dtype: int64

In [7]:
pf = pd.DataFrame([1,2,3,4],columns=['number'],index=['one','two','three','four'])
pf

       number
one         1
two         2
three       3
four        4

In [12]:
"CSV 형식 파일을 읽어 들여 DataFrame 생성 가능하다"
#pd.read_csv(path,sep='구분자',names=['컬럼명',.....])
pf['COUNT'] = [np.random.randint(5,10) for i in range(len(pf.index))]
pf

       number  COUNT
one         1      9
two         2      6
three       3      8
four        4      6

In [14]:
len(pf.index)

4

In [15]:
pf[:2]

     number  COUNT
one       1      9
two       2      6

In [18]:
pf['COUNT']

one      9
two      6
three    8
four     6
Name: COUNT, dtype: int64

In [20]:
df=pd.DataFrame(np.arange(9).reshape(3,3),index=['r1','r2','r3'],columns=['c1','c2','c3'])
df

    c1  c2  c3
r1   0   1   2
r2   3   4   5
r3   6   7   8

In [21]:
df[df.c1>4] #DataFrame 객체의 멤버 변수로 칼럼명 지정 접근

    c1  c2  c3
r3   6   7   8

In [22]:
df[df['c1']>4] #DataFrame의 배열 Key로 컬럼명 지정 접근

    c1  c2  c3
r3   6   7   8

In [24]:
df[(df.c1 >1) & (df.c2 < 5)]

    c1  c2  c3
r2   3   4   5