In [4]:
"""
Pandas 선택과 변경

loc 인덱스 : 레이블 선택을 기반으로 한 인덱서
    - df.loc[<열 선택 조건>,<행 선택 조건>]
    - 정수형(integer) 위치 지정으로는 불가
"""
import numpy as np
import pandas as pd

df = pd.DataFrame(np.array([100,20000,50,50000,90,50000]).reshape(3,2),columns = ['성능','가격'],index=['BC1','BC2','BC3'])

In [5]:
df

      성능     가격
BC1  100  20000
BC2   50  50000
BC3   90  50000

In [6]:
df.loc['BC1'] #loc[]에 단독 KEY로 입력할 경우 ROW 기준으로 조회

성능      100
가격    20000
Name: BC1, dtype: int32

In [7]:
df.loc['BC1','가격'] #BC1 열의 '가격' 행의 값을 조회

20000

In [8]:
df.loc[(df.성능 % 50 == 0),"성능"]

BC1    100
BC2     50
Name: 성능, dtype: int32

In [9]:
"""
df.sort_values(by = [기준 컬럼명,......],ascending=True)
    - 기준 컬럼명을 여러 개 지정하면 각 순서별로 정렬 기준
    - ascending 을 입력 하지 않으면 True(오름차순)로 판단
"""

'\ndf.sort_values(by = [기준 컬럼명,......],ascending=True)\n    - 기준 컬럼명을 여러 개 지정하면 각 순서별로 정렬 기준\n    - ascending 을 입력 하지 않으면 True(오름차순)로 판단\n'

In [10]:
df

      성능     가격
BC1  100  20000
BC2   50  50000
BC3   90  50000

In [11]:
df.sort_values('성능') #성능 기준으로 오름차순 정렬

      성능     가격
BC2   50  50000
BC3   90  50000
BC1  100  20000

In [12]:
df.sort_values(['성능','가격'],ascending=False) #['가격','성능'] 순서대로 내림차순 정렬

      성능     가격
BC1  100  20000
BC3   90  50000
BC2   50  50000

In [13]:
"""
행/열 합계

df.sum(axis=?)
    - axis는 1과 0 값 이며 입력하지 않으면 0로 자동 처리(칼럼 기준 합)
    - axis = 1로 입력시 각 열 기준으로 합산 
"""

'\n행/열 합계\n\ndf.sum(axis=?)\n    - axis는 1과 0 값 이며 입력하지 않으면 0로 자동 처리(칼럼 기준 합)\n    - axis = 1로 입력시 각 열 기준으로 합산 \n'

In [14]:
df

      성능     가격
BC1  100  20000
BC2   50  50000
BC3   90  50000

In [15]:
df.sum() #각 칼럼별 합계

성능       240
가격    120000
dtype: int64

In [16]:
df.sum(axis=1) #각 로우별 합계

BC1    20100
BC2    50050
BC3    50090
dtype: int64

In [19]:
df['ROW_SUM'] = df.sum(axis=1) #신규 칼럼추가
df.loc['COL_SUM',:] = df.sum() #신규 로우 추가

In [20]:
df

            성능        가격   ROW_SUM
BC1      100.0   20000.0   40200.0
BC2       50.0   50000.0  100100.0
BC3       90.0   50000.0  100180.0
COL_SUM  480.0  240000.0  480960.0

In [23]:
"""
시계열 시간 관리
pd.to_datetime('문자열',format='입력된 문자열의 시간 포멧')
    - 문자열을 입력받아 Timestamp 객체로 변환, Python datetime 객체 변환 용이
    - 시간포멧
"""

#문자열을 입력 받아 Timestamp 객체로 변환
beg_time = pd.to_datetime('20180907 12:30:05', format = '%Y%m%d %H:%M:%S')
end_time = pd.to_datetime('20180907 12:31:05', format = '%Y%m%d %H:%M:%S')

In [24]:
end_time-beg_time

Timedelta('0 days 00:01:00')

In [26]:
"""
시계열 시간 관리

pd.date_range('시작일시','종료 일시',freq='빈도 포멧')
    - 시작 일시와 종료 일시 사이에 빈도별 datetie 객체를 갖는 리스트 생성
    - 빈도포멧 : {숫자},{기호}로 사용되며 숫자는 기호에 의미하는 기준 단위
    s : 초
    T : 분
    H : 시간
    D : 일
    W : 주(일요일)
    W-MON : 주(월요일)
    M : 각 달의 마지막 날
    MS : 각달의 첫날
"""

pd.date_range('20190101','20190901',freq='M') #월말

#72까지 정리

DatetimeIndex(['2019-01-31', '2019-02-28', '2019-03-31', '2019-04-30',
               '2019-05-31', '2019-06-30', '2019-07-31', '2019-08-31'],
              dtype='datetime64[ns]', freq='M')